@using Boot_Track.Models
@model Boot_Track.Models.Session
@{
    ViewBag.Title = "ModulePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/custom/ModuleStyle.css" rel="stylesheet" type="text/css" />

<p style="padding-left:20px;">@Html.ActionLink("Home", "Index", "Index") / <b>@Model.CurrModule.Title</b> </p>

<h1>@Model.CurrModule.Title</h1>
<hr/>

<div class="Container-M">

    <div class="Overview-CheckList">
        <div class="Overview">
            <p class="P-Bold">Overview</p>
            <hr />
            <p class="Overview-P">
                @Model.CurrModule.Overview
            </p>
            <p class="P-Bold">Module SMEs</p>
            <hr />
            <div class="Module-SMEs">
                @* Generate as many as we get from list; Rn Hardcoded *@
                @foreach(var sme in @Model.CurrModule.SMEs) {
                    var name = sme;
                    name = name.ToLower();
                    name = name.Replace(' ', '-');

                    var imgPath = "";

                    var path = "C:/Users/Drew.Taylor/Source/Repos/Boot Track/Boot_Track/Images/smes/" + name;
                    if (File.Exists(path + ".jfif"))
                    {
                        imgPath = "/../../Images/smes/" + name + ".jfif";
                    }
                    else if (File.Exists(path + ".jpg"))
                    {
                        imgPath = "/../../Images/smes/" + name + ".jpg";
                    }
                    else
                    {
                        imgPath = "/../../Images/BootTrack-Logo.png";
                    }



                <div class="SME">
                    <img class="sme-img" src="@imgPath" />

                    <p>@sme</p>

                </div>
                }
            </div>
        </div>
        <div class="CheckList">
            <p class="P-Bold">CheckList</p>
            <hr />
            <div class="Exercises">
                @{
                    for (int i = 0; i < @Model.CurrModule.Checklist.Length; i++)
                    {
                        if (@Model.GetProgressChecklist(@Model.GetIntern(Request.Cookies["Username"].Value), @Model.CurrModule, i))
                        {
                            <p>
                                @Model.CurrModule.Checklist[i]<img class="Exercise-Img" id="Checked" src="~/Images/check-square.svg"
                                                                   onclick="location.href='@Url.Action("ChangeCheckList", "Modules", new { ModuleTitle = @Model.CurrModule.Title, num = i })'" />
                            </p>
                    }
                    else
                    {
                        <p>@Model.CurrModule.Checklist[i]<img class="Exercise-Img" id="Checked" src="~/Images/square.svg" 
                        onclick="location.href='@Url.Action("ChangeCheckList", "Modules", new { ModuleTitle = @Model.CurrModule.Title, num = i })'" /></p>
                    }

                }
                }

                <p>Ready for Review<img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" /></p>
            </div>
        </div>
    </div>

    <div class="orient">
        <p class="P-Bold">Module Dashboard</p>
        <hr />
        <div class="inp-chkbx">
            <input type="text" placeholder="Filter by colleague name..." />
            <span class="chkbx-spacing"><img id="Unchecked" src="~/Images/square.svg"> Hide Completed</span>
            <span class="chkbx-spacing"><img id="Unchecked" src="~/Images/square.svg"> Under Review</span>
        </div>
        <div class="Dash-Headers">
            <div>
                <h4>Colleague</h4>
                <hr />
            </div>
            <div style="margin-left: 6%;">
                <h4>Module Status</h4>
                <hr />
            </div>
            <div>
                <h4>Completion Date</h4>
                <hr />
            </div>

        </div>

        @foreach (var camperEntry in @Model.progress)
        {
            if (camperEntry[0].module.Title == @Model.CurrModule.Title)
            {
                foreach (var camper in camperEntry)
                {
                    <div class="Dash-Camper">
                        <div class="Camper" style="display: flex;">
                            <svg height="100" width="100">
                                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                            </svg>
                            <p style="padding-top: 14%; padding-left: 3%;">@camper.intern.FirstName @camper.intern.LastName</p>
                        </div>
                        <div class="Progress-Bar-Nonbootstrap">
                            <h6>In Progress</h6>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                            <div class="Below-Progress">
                                <h6>25%</h6>
                                <h6>Tasks @{
                                    int doneTasks = 0;
                                    for(int j = 0; j < @Model.CurrModule.Checklist.Length; j++)
                                    {
                                        if(@Model.GetProgress(camper.intern, @Model.CurrModule).checklistState[j] == true)
                                        {
                                            doneTasks++;
                                        }
                                    }
                                }
                                @Html.Raw(doneTasks)/@Model.CurrModule.Checklist.Length</h6>
                            </div>
                        </div>
                        <h5 style="padding-top: 35px;">@Model.CurrModule.completionDate</h5>
                    </div>
                }
            }
        }
    </div>

</div>