@model Boot_Track.Models.Session
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/custom/IndexStyle.css" rel="stylesheet" type="text/css" />

@* Modal Window for Submitting Module for Review *@
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div classes="CCs-GSGs">
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p><a href="mailto:henry.faulkner@perficient.com">[Insert CC/GSG Here]</a></p>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                @*@using (Html.BeginForm("SendEmail", "Index"))*@
                {
                    <input type="submit" class="btn btn-danger" value="Send for Review" @*onclick='window.location.href ="/Modules/ModulePage"'*@ />
                }

            </div>

        </div>
    </div>
</div>

<div class="Container">
    <h2 style="text-align: center;">Boot Camp Dashboard</h2>

    <div class="Filter-Container">

        <div class="search-bar-cont">
            <input type="text" class="Search-Bar" placeholder="Filter by Module" /> @* Try to add svg of search icon in placeholder*@
        </div>

        <div class="Rows">
            <div class="row-item">
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>Hide Modules with 100% Completion</span>
            </div>
            <div class="row-item">
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>Show Only My Module Status</span>
            </div>
            <div class="row-item">
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>BC Modules Only</span>
            </div>
            <div class="row-item">
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>TC Modules Only</span>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Module #</th>

                @{
                    foreach (var intern in @Model.interns)
                    {
                        <th scope="col">
                            @intern.FirstName
                        </th>
                    }
                }

            </tr>

        </thead>
        <tbody>
            @{
                for (int i = 0; i < @Model.modules.Count(); i++)
                {

                    <tr>
                        <th scope="row"><a href="@Url.Action("ModulePage", "Modules", new {ModuleTitle = @Model.modules[i].Title})">
                            @Model.modules[i].Title
                        </a>
                        <p class="date-style"><em>ETC: </em>5/20</p>
                        @{
                            //@Model.progress[i].Count() should be the number of bootcampers we have
                            //Therefore, j should associate correctly with a single bootcamper 
                            for (int j = 0; j < @Model.progress[i].Count(); j++)
                            {
                                <td>
                                    <div class="dropdown">
                                        <button onclick="toggleShow(this)" class="dropbtn">@Model.progress[i][j].moduleProgress</button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <button onclick="changeText(this); location.href='@Url.Action("ChangeModuleProgress", "Index", new { numModule = i, numIntern = j, changeProgressStr = "" })'" value=""></button>
                                            <button onclick="changeText(this); location.href='@Url.Action("ChangeModuleProgress", "Index", new { numModule = i, numIntern = j, changeProgressStr = "In Progress" })'" value="In Progress">In Progress</button>
                                            <button type="button" onclick="changeText(this); location.href='@Url.Action("ChangeModuleProgress", "Index", new { numModule = i, numIntern = j, changeProgressStr = "Under Review" })'" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                                        </div>
                                    </div>
                                </td>
                            }
                        }

                        </tr>

                }
            }


        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $(".dropbtn:contains('In Progress')").css("background", "#F0E8A0");
        $(".dropbtn:contains('Under Review')").css("background", "#FFA7A7");
        $(".dropbtn:contains('Under Review')").css("font-size", "9px");
        $(".dropbtn:contains('Approve')").css("background", "#99EAB9");
    });
</script>