<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <ul class="nav nav-fill navbar-expand-lg navbar-light bg-light fixed-top" style="list-style: none; padding-top:30px; padding-bottom:30px;">
        <li class="nav-item">
            <img class="logo" src="~/Images/Grey-Logo.PNG" alt="Logo" />
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 24px"><strong>BOOT TRACK</strong></a>
        </li>
        <li class="nav-item">
            <img class="avatar" src="~/Images/Grey-Circle.PNG" alt="Avatar" />
        </li>
        
    </ul>
    <div @*class="container body-content"*@>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
